params {
    low_cpu = 1
    low_mem = 8.GB

    minimap_param = "-y -ax map-ont"
    clair3_optional = " --haploid_sensitive --platform=ont --enable_long_indel "
    clair3model = "/opt/models/r941_prom_sup_g5014"
    platform = "ONT"
 
    workflowpath = params.workflowpath
}

process {

    withLabel: ReBasecallingGuppy {
        cpus = params.low_cpu
        memory = params.low_mem
        publishDir {
            path = "$params.outdir/Guppy/"
            mode = 'link'
        }
    }

    withLabel: bcftools_1_15_1 {
        cpus = params.low_cpu
        memory = params.low_mem
    }

    withLabel: Clair3_1_0_4 {
        cpus = params.low_cpu
        memory = params.low_mem
    }

    withLabel: Duplex_Tools {
        cpus = params.low_cpu
        memory = params.low_mem
    }

    withLabel: FASTQC_0_11_8 {
        cpus = params.low_cpu
        memory = params.low_mem
        publishDir {
            path = "$params.outdir/QC/FastQC"
            mode = 'link'
        }
    }

    withLabel: GATK_4_2_1_0_HaplotypeCaller_SMN {
        cpus = params.low_cpu
        memory = params.low_mem
    }

    withName: GATK_HaplotypeCaller_Region {
        cpus = params.low_cpu
        memory = params.low_mem
        publishDir = [
            [path: "$params.outdir/vcf", mode: 'link', pattern: '*.vcf.gz'],
            [path: "$params.outdir/vcf", mode: 'link', pattern: '*.tbi'],
            [path: "$params.outdir/vcf", mode: 'link', pattern: '*.vcf'],
            [path: "$params.outdir/vcf", mode: 'link', pattern: '*.idx']
        ]
    }

    withLabel: GATK_4_2_1_0_FilterVcfs {
        cpus = params.low_cpu
        memory = params.low_mem
    }

    withLabel: GATK_4_2_1_0_VariantFiltrationSnpIndel{
        cpus = params.low_cpu
        memory = params.low_mem
        publishDir = [
            [path: "$params.outdir/vcf", mode: 'link', pattern: '*.vcf.gz'],
            [path: "$params.outdir/vcf", mode: 'link', pattern: '*.tbi'],
            [path: "$params.outdir/vcf", mode: 'link', pattern: '*.vcf'],
            [path: "$params.outdir/vcf", mode: 'link', pattern: '*.idx']
        ]
    }

    withName: GATK_VariantFiltration_Clair3_Bed{
        cpus = params.low_cpu
        memory = params.low_mem
        publishDir = [
            [path: "$params.outdir/clair3", mode: 'link', pattern: '*.vcf.gz'],
            [path: "$params.outdir/clair3", mode: 'link', pattern: '*.tbi'],
            [path: "$params.outdir/clair3", mode: 'link', pattern: '*.vcf'],
            [path: "$params.outdir/clair3", mode: 'link', pattern: '*.idx']
        ]
    }

    withName: GATK_VariantFiltration_Clair3_Region{
        cpus = params.low_cpu
        memory = params.low_mem
        publishDir = [
            [path: "$params.outdir/clair3", mode: 'link', pattern: '*.vcf.gz'],
            [path: "$params.outdir/clair3", mode: 'link', pattern: '*.tbi'],
            [path: "$params.outdir/clair3", mode: 'link', pattern: '*.vcf'],
            [path: "$params.outdir/clair3", mode: 'link', pattern: '*.idx']
        ]
    }

    withLabel: GetPhaseSet {
        cpus = params.low_cpu
        memory = params.low_mem
    }

    withLabel: Minimap_2_26 {
        cpus = params.low_cpu
        memory = params.low_mem
    }

    withLabel: Samtools_1_15_ViewSort {
        cpus = params.low_cpu
        memory = params.low_mem
    }

    withLabel: Sambamba_1_0_0_Filter_Condition {
        cpus = params.low_cpu
        memory = params.low_mem
    }

    withLabel: Sambamba_1_0_0_Filter_Haplotype {
        cpus = params.low_cpu
        memory = params.low_mem
        publishDir {
            path = "$params.outdir/bam_files_haplotagged_split"
            mode = 'link'
        }
    }

    withLabel: Sambamba_1_0_0_Index {
        cpus = params.low_cpu
        memory = params.low_mem
    }

    withName: Sambamba_Index_ReadGroup {
        publishDir {
            path = "$params.outdir/bam_files"
            mode = 'link'
            pattern = '*.bai'
        }
    }

    withName: Sambamba_Index_Target_Region {
        publishDir {
            path = "$params.outdir/bam_files_haplotagged"
            mode = 'link'
            pattern = '*.bai'
        }
    }

    withName: Sambamba_Index_Target_Bed {
        publishDir {
            path = "$params.outdir/bam_files_haplotagged"
            mode = 'link'
            pattern = '*.bai'
        }
    }

    withLabel: Samtools_1_15_AddReplaceReadgroup {
        cpus = params.low_cpu
        memory = params.low_mem 
        publishDir {
            path = "$params.outdir/bam_files"
            mode = 'link'
            pattern = '*.bam'
        }
    }

    withLabel: Samtools_1_15_Fastq {
        cpus = params.low_cpu
        memory = params.low_mem
    }

    withLabel: Samtools_1_15_Merge {
        cpus = params.low_cpu
        memory = params.low_mem
    }

    withLabel: Sniffles2_2_2 {
        cpus = params.low_cpu
        memory = params.low_mem
        publishDir {
            path = "$params.outdir/sniffles2"
            mode = 'link'
        }

    }

    withLabel: PICARD_2_26_4_CollectMultipleMetrics {
        cpus = params.low_cpu
        memory = params.low_mem 
        publishDir {
            path = "$params.outdir/QC/Picard"
            mode = 'link'
        }
    }

    withLabel: PICARD_2_26_4_CollectWgsMetrics {
        cpus = params.low_cpu
        memory = params.low_mem
        publishDir {
            path = "$params.outdir/QC/Picard"
            mode = 'link'
        }
    }

    withLabel: PICARD_2_26_4_FilterSamReads {
        cpus = params.low_cpu
        memory = params.low_mem
    }

    withLabel: MultiQC_1_10 {
        cpus = params.low_cpu
        memory = params.low_mem
        publishDir {
            path = "$params.outdir/QC"
            mode = 'link'
        }
    }

    withLabel: SaveInputFile {
        memory = params.low_mem
        publishDir {
            path = "$params.outdir/"
            mode = 'link'
        }
    }

    withLabel: VersionLog {
        cpus = params.low_cpu
        memory = params.low_mem

        publishDir {
            path = "$params.outdir/log"
            mode = 'link'
        }
    }

    withLabel: Whatshap_1_7_Polyphase {
        cpus = params.low_cpu
        memory = params.low_mem
    }

    withLabel: Whatshap_1_7_Haplotag {
        cpus = params.low_cpu
        memory = params.low_mem
        publishDir {
            path = "$params.outdir/bam_files_haplotagged"
            mode = 'link'
            pattern = '*tagged*.bam'
        }
    }

    withLabel: Workflow_Export_Params {
        cpus = params.low_cpu
        memory = params.low_mem 

        publishDir {
            path = "$params.outdir/log"
            mode = 'link'
        }
    }

    withLabel: Tabix_1_11_Zip_Index {
        cpus = params.low_cpu
        memory = params.low_mem
    }
}

report {
    enabled = true
    overwrite = true
    file = "$params.outdir/log/nextflow_report.html"
}

trace {
    enabled = true
    overwrite = true
    file = "$params.outdir/log/nextflow_trace.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt'
}

timeline {
    enabled = true
    overwrite = true
    file = "$params.outdir/log/nextflow_timeline.html"
}

profiles {
    test {
        singularity {
            enabled = true
            apptainer.cacheDir= './singularity_cache/'
            cacheDir = './singularity_cache/'
            runOptions = " -B ${params.workflowpath}:${params.workflowpath} -B \$TMPDIR:\$TMPDIR "
            autoMounts = true
        }
        mail {
            smtp.host = 'localhost'
        }
    }
}
