params {

    genome_fasta = "/hpc/dlab_haaften/mzwartkruis/reference_genome_fasta/hs1_hm_20a_22a/hs1_hm_20a_22a.fa"
    genome_mapping_index = "/hpc/dlab_haaften/mzwartkruis/reference_genome_fasta/hs1_hm_20a_22a/hs1_hm_20a_22a.fa.mmi"
    calling_target_bed = "/hpc/dlab_haaften/mzwartkruis/Martin_C9/HapSMA/ManuscriptSMNGeneConversion/datafiles/paraphase_SNPs_UCSC_liftover_T2T_CHM13_manual_SNPs_2_sorted_20b_22b.bed"
    calling_target_region = "chr5:71274893-71447410"
    homopolymer_bed = "/hpc/dlab_haaften/mzwartkruis/Martin_C9/HapSMA/databases/hs1_hm_20a_22a_3homopolymer.bed"
    phaseset_region = "chr5:71392465-71409463"

    guppy_basecaller_path = "/hpc/dlab_haaften/mzwartkruis/Martin_C9/HapSMA/software/ont-guppy_6.1.2/bin/guppy_basecaller"
    guppy_basecaller_config = "/hpc/dlab_haaften/mzwartkruis/Martin_C9/HapSMA/software/ont-guppy_6.1.2/data/dna_r9.4.1_450bps_modbases_5mc_cg_sup.cfg"

    //General cluster options (Slurm)
    cluster_options = "--mail-user $params.email --mail-type FAIL"
}

process {

    withLabel: ReBasecallingGuppy {
        queue = 'gpu'
        clusterOptions = "$params.cluster_options --gres=tmpspace:32G  --gres=gpu:2g.20gb:1 "
    }

    withLabel: FASTQC_0_11_8 {
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }

    withLabel: GATK_4_2_1_0_HaplotypeCaller_SMN {
        clusterOptions = "$params.cluster_options --gres=tmpspace:16G"
    }

    withName: GATK_HaplotypeCaller_Region {
        clusterOptions = "$params.cluster_options --gres=tmpspace:16G"
    }

    withLabel: GATK_4_2_1_0_FilterVcfs {
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }

    withLabel: GATK_4_2_1_0_VariantFiltrationSnpIndel{
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }

    withName: GATK_VariantFiltration_Clair3_Bed{
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }

    withName: GATK_VariantFiltration_Clair3_Region{
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }

    withLabel: Minimap_2_26_Mapping {
        clusterOptions = "$params.cluster_options --gres=tmpspace:20G"
    }

    withLabel: Sambamba_1_0_0_ViewSort {
        clusterOptions = "$params.cluster_options --gres=tmpspace:64G"
    }

    withLabel: Sambamba_1_0_0_Filter_Condition {
        clusterOptions = "$params.cluster_options --gres=tmpspace:20G"
    }

    withLabel: Sambamba_1_0_0_Filter_Haplotype {
        clusterOptions = "$params.cluster_options --gres=tmpspace:20G"
    }

    withLabel: Sambamba_1_0_0_Index {
        clusterOptions = "$params.cluster_options --gres=tmpspace:20G"
    }

    withLabel: Samtools_1_15_AddReplaceReadgroup {
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }

    withLabel: Samtools_1_15_Fastq {
        clusterOptions = "$params.cluster_options --gres=tmpspace:20G"
    }

    withLabel: Samtools_1_15_Merge {
        clusterOptions = "$params.cluster_options --gres=tmpspace:48G"
    }

    withLabel: Sniffles2_2_2 {
        clusterOptions = "$params.cluster_options --gres=tmpspace:20G"
    }

    withLabel: PICARD_2_26_4_CollectMultipleMetrics {
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }

    withLabel: PICARD_2_26_4_CollectWgsMetrics {
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }

    withLabel: PICARD_2_26_4_FilterSamReads {
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }
}

profiles {

    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            clusterOptions = "$params.cluster_options"
            errorStrategy = 'retry'
            maxRetries = 1
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
            cacheDir = '/hpc/dlab_haaften/mzwartkruis/Martin_C9/NextflowONT/images/'
        }

        executor {
            queueSize = 1000
            pollInterval = '1min'
            queueStatInterval = '5min'
            submitRatelimit = '10sec'
        }

       mail {
            smtp.host = 'localhost'
        }
    }

}
